.border-t {
    border-top-width: 1px;
  }

  /*.border {
    border: 1px solid #dee2e6 !important; }
  
  .border-none {
    border-style: none;
  }
  

  /*
.border-light {
    border-top-width: 1px;
    border-color: #f8f9fa !important; }
  
  .border-dark {
    border-top-width: 1px;
    border-color: #343a40 !important; }
  */